.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;

    button {
        background: none;
        border: none;
    }

    a {
        text-decoration: none !important;
        border-bottom: none !important;

        &:hover {
            text-decoration: none;
            opacity: 0.5;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__leftArrow {
        cursor: pointer;
        display: none;
        position: fixed;
        top: 50vh;
        left: 0;
        transition: transform 300ms ease-in;

        svg {
            width: 36px;
            height: 36px;
            margin-left: 24px;
        }

        &:hover {
            transform: translateX(-10px);
        }

        @media (min-width: 760px) {
            display: block;
        }
    }

    &__rightArrow {
        cursor: pointer;
        display: none;
        position: fixed;
        top: 50vh;
        right: 0;
        transition: transform 300ms ease-in;

        svg {
            width: 36px;
            height: 36px;
            margin-right: 24px;
        }

        &:hover {
            transform: translateX(12px);
        }

        @media (min-width: 760px) {
            display: block;
        }
    }
}
