.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  width: 100%;
  height: 100%;
  margin: auto;

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 0;
  }

  @media (min-width: 960px) {
    max-width: 960px;
  }

  button {
    background: none;
    border: none;
  }

  a {
    text-decoration: none !important;
    border-bottom: none !important;

    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    text-align: left;

    @media (min-width: 768px) {
      max-width: 768px;
      padding: 0;
    }

    @media (min-width: 960px) {
      max-width: 960px;
    }
  }

  &__leftArrow {
    cursor: pointer;
    position: fixed;
    top: 50vh;
    display: block;
    left: 0;
    transition: transform 300ms ease-in;
    z-index: 99;

    svg {
      width: 36px;
      height: 36px;

      @media (min-width: 960px) {
        margin-left: 24px;
      }
    }

    &:hover {
      transform: translateX(-10px);
    }
  }

  &__rightArrow {
    cursor: pointer;
    position: fixed;
    top: 50vh;
    transition: transform 300ms ease-in;
    display: block;
    right: 0;
    z-index: 99;

    svg {
      width: 36px;
      height: 36px;

      @media (min-width: 960px) {
        margin-right: 24px;
      }
    }

    &:hover {
      transform: translateX(12px);
    }
  }
}
