.surveyView {
    max-width: 960px;
    padding: 24px 48px 48px 48px;

    @media (min-width: 768px) {
        padding: 0;
    }

    > div {
        overflow-y: auto !important;
        height: auto !important;
        max-height: fit-content !important;
    }
}
