.wrapper {
    text-align: left;
}

.menu {
    &__large {
        width: 100%;
    }

    &__small {
        width: 100%;
    }
}

.navbar {
    &__list {
        width: 960px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        list-style-type: none;
        transition: all 300ms;
        border-bottom: 4px solid black;
        line-height: 16px;
        padding-top: 24px !important;

        @media (min-width: 768px) {
            flex-direction: row;
            gap: 96px;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__subList {
        display :flex;
        justify-content: space-between;
        width: 60%;
    }

    &__item {
        transition: all 300ms;

        &--first {
            a {
                font-family: "Overpass", sans-serif;
                font-weight: 800 !important;
                font-size: 16px;
                border-bottom: none !important;
            }
        }
    }

    &__item > a {
        font-family: "Overpass", sans-serif;
        font-weight: normal;
        font-size: 16px;
        position: relative;
        border-bottom: none !important;

        &:hover {
            border-bottom: none !important;
        }
    }
}
