.block {
    padding: 16px;
    margin: 16px;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

    h3 {
        font-family: "Karla", sans-serif;
        font-size: 16px;
    }

    p {
        font-family: "Spectre", sans-serif;
        font-size: 14px;
    }
}
