.header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;

    h1 {
        display: flex;
        align-items: center;
        gap: 18px;
        margin: 0;
    }

    ul {
        text-align: center;
        margin-top: 48px;
    }
}
