.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 256px;

    h2 {
        font-family: "Karla", sans-serif;
        font-size: 24px;
    }

    p {
        font-family: "Spectre", sans-serif;
        font-size: 14px;
    }

    input {
        font-family: "Spectre", sans-serif;
        width: 256px;
        height: 36px;
        margin: 12px 0;
    }

    button {
        margin-top: 24px;
        height: 36px;
        font-family: "Spectre", sans-serif;
        cursor: pointer;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        padding: 12px 24px;
        border-radius: 5px;
    }

    &__error {
        margin-top: 24px;
        color: white;
        padding: 12px 24px;
        border-radius: 5px;
        background-color: firebrick;
        font-family: "Spectre", sans-serif;
        max-width: 640px;
    }
}
