.artist {
  height: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__leftColumn {
    display: flex;
    justify-content: center;
    width: 90%;

    @media (min-width: 768px) {
      width: 40%;
    }
  }

  &__rightColumn {
    display: flex;
    width: 100%;

    @media (min-width: 768px) {
      flex-direction: column;
      width: 45%;
    }
  }
}

.container {
    height: 100%;
}
