.book {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 48px;

  @media (min-width: 768px) {
    margin: 0;
    padding: 0;
  }

  &__title {
    max-width: 960px;
    text-align: justify !important;
    font-size: 72px !important;
    font-weight: 300 !important;
  }
}

.container {
  height: 100%;
}
