.container {
  h1 {
    margin-top: 0;
    font-family: "fig-script", sans-serif;
    text-align: center;
    font-weight: 800;
  }

  p {
    font-family: "Overpass", sans-serif;
    font-weight: 300;
  }

  a {
    border-bottom: 1px solid black;
    font-weight: 700;
    transition: all 0.3s;

    &:hover {
      color: lightgrey;
      border-bottom: 1px solid lightgrey;
      transition: all 0.3s;
    }
  }

  ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
  }

  li {
    padding: 4px 0;
  }

  padding-bottom: 124px;

  @media (min-width: 768px) {
    padding-bottom: 80px;
  }
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 80px;
  min-height: 70vh;

  @media (min-width: 768px) {
    padding: 4rem 0;
  }
}

.title {
  padding: 0;
  margin: 0;
  font-size: 96px !important;
  font-weight: 400 !important;
  display: inline;
  line-height: 128px;

  &__top {
    margin-top: 64px !important;

    @media (min-width: 768px) {
      text-align: right !important;
      margin-top: 0;
    }
  }

  &__bottom {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      text-align: left;
    }
  }

  @media (min-width: 768px) {
    width: 960px;
    font-size: 172px !important;
  }
}

.about {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 80px;
  min-height: 70vh;

  @media (min-width: 768px) {
    padding: 4rem 0;
  }

  &__title {
    text-align: justify !important;
    font-weight: 300 !important;
    font-size: 56px !important;
    padding: 0 24px;
    line-height: 1em;

    @media (min-width: 768px) {
      max-width: 960px;
      font-size: 72px !important;
      padding: 0;
    }
  }
}

.findings {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 80px;
  min-height: 70vh;
  max-width: 960px;

  &__title {
    text-align: justify !important;
    font-weight: 300 !important;
    font-size: 56px !important;
    padding: 0 24px;
    line-height: 1em;
    word-spacing: 0.55em;

    @media (min-width: 768px) {
      max-width: 960px;
      font-size: 72px !important;
      padding: 0;
      margin-bottom: 64px;
    }
  }

  &__text {
    column-count: 1;
    padding: 0 24px;

    @media (min-width: 768px) {
      column-count: 3;
      padding: 0;
    }
  }

  @media (min-width: 768px) {
    padding: 0;
  }
}

.book {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 80px;
  min-height: 70vh;

  @media (min-width: 768px) {
    padding: 0;
  }

  &__title {
    max-width: 960px;
    text-align: justify !important;
    font-size: 72px !important;
    font-weight: 300 !important;
  }
}

.artist {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__leftColumn {
    display: flex;
    justify-content: center;
    width: 90%;

    @media (min-width: 768px) {
      width: 40%;
    }
  }

  &__rightColumn {
    display: flex;
    width: 100%;

    @media (min-width: 768px) {
      flex-direction: column;
      width: 45%;
    }
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.info {
  text-align: center;
  margin: auto;
  margin-top: 0;
  padding: 0 24px;

  &__content {
    display: flex;
    flex-direction: column;

    p {
      font-size: 16px;
      font-weight: 400;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 48px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    font-size: 16px;
    font-weight: 400;

    @media (min-width: 768px) {
      width: 30%;
    }
  }

  @media (min-width: 768px) {
    width: 960px;
    padding: 0;
  }
}

.team {
  width: 100%;
  display: flex;
  gap: 48px;
  row-gap: 48px;
  margin-bottom: 48px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 960px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title {
    margin-top: 48 !important;
    text-align: center !important;
    font-size: 56px;

    @media (min-width: 768px) {
      margin-top: 24 !important;
      text-align: left !important;
      font-size: 72px;
    }
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.logos {
  display: inline-block;
  max-height: 140px;

  &__container {
    display: flex;
    margin-top: 48px;
    padding: 0;

    &--left {
      padding-left: 24px;
    }

    &--right {
      padding-left: 24px;
      display: inline-block;

      @media (min-width: 768px) {
        padding-top: 24px;
      }
    }

    @media (min-width: 768px) {
      padding-left: 48px;
      margin-top: 12px;
    }
  }
}
