.member {
    width: 100%;
    margin: 0 auto;
    max-width: 240px;

    @media (min-width: 768px) {
        margin: 0;
        width: 240px;
        max-width: 240px;
    }

    img {
        object-fit: cover;
    }

    a {
        text-decoration: none !important;
        border-bottom: none !important;

        &:hover {
            border-bottom: none;
            opacity: 0.5;
        }
    }

    &__name {
        margin: 12px 0;
        font-weight: 800;
        text-align: left;
    }

    &__role {
        font-size: 14px;
        margin: 12px 0;
        font-weight: 400;
        text-align: left;
    }

    &__bio {
        margin: 12px auto;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        max-width: 240px;
    }
}
